{% extends 'base.html' %}

{% block title %}
    To do list!
{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages%}
            <div class="alert alert-warning alert-dismissable" role="alert">
                <button class="close" data-dismiss="alert">
                    <small><sup>x</sup></small>
                </button>
                {{ message }} 
            </div>                       
        {% endfor%}
    {% endif %}
    {% if items %}
    <table class="table table-bordered">
        {% for item_list in items %}
            {% if item_list.completed %}
                <tr class="table-secondary">
                    <td class="striker">{{ item_list.item }} <a style="float: right;" class="btn btn-primary" href="{% url 'edit' item_list.id %}">(Edit)</a></td>
                    <td><a class="btn btn-light" href="{% url 'update' item_list.id %}">Uncross</a></td> 
            {% else %}
                <tr>
                    <td>{{ item_list.item }} <a style="float: right;" class="btn btn-primary" href="{% url 'edit' item_list.id %}">(Edit)</a></td>
                    <td><a class="btn btn-light" href="{% url 'update' item_list.id %}">Cross Off</a></td>     
            {% endif %}                                
                <td><center><a class="btn btn-danger" href="{% url 'delete' item_list.id %}">Delete</a></center></td>
            </tr>            
        {% endfor%}
    </table>
    {% endif %}
{% endblock %}
